<!-- add-ticket.component.html -->
<form #formulaire="ngForm" >
    <div class="mb-3">
      <label for="newTicketTitle" class="form-label">Title</label>
      <input type="text" class="form-control"  name="title" id="newTicketTitle" [(ngModel)]="newTicketTitle"
      ngModel #title="ngModel" [ngStyle]="{'border-color': (title.valid) ? 'green' : 'red'}">

      
    </div>
    <div class="mb-3">
      <label for="newTicketPrice" class="form-label" >Price</label>
      <input type="number" class="form-control"   name="price" id="newTicketPrice" [(ngModel)]="newTicketPrice"
      ngModel #price="ngModel" [ngStyle]="{'border-color': (price.valid) ? 'green' : 'red'}">

    </div>
    <button type="submit" class="btn btn-primary" (click)="createTicket(formulaire.value)">Save changes</button>
  </form>
  