
<div class="conatiner">

    <div class="row mt-5">





<div class="col-lg-1 col-md-2 col-1">



</div>


<div class="col-lg-6 col-md-8 col-10 text-dark" style="background-color: #f8f3f0;margin-top: 50px; border-radius: 10px;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); "  >
  <img src="../../assets/logo_.png" class="img-fluid mx-2 my-2" width="100px">

    <h1 style="margin-top: 10px;" class="text-center" >Login to account</h1>
    <p class="mt-4 text-center">welcome Please enter login credentials</p>

    <div class="container mt-5">
        <form action="dashborad__">
          
      
          <div class="row mb-3">
            <div class="col-md-1">
            </div>
                <div class="col-md-10">
              <label for="email" class="form-label"><h5>Email </h5></label>
              <input type="email" class="form-control border-bottom" id="email" >
            </div>
            <div class="col-md-1">
            </div>
          </div>
      
          <div class="row mb-3">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <label for="password" class="form-label"><h5>Password</h5></label>
              <input type="password" class="form-control border-bottom" id="password" >
            </div>
            <div class="col-md-1">
            </div>
          </div>
      <div class="text-center mb-5 mt-5">
          <button type="submit" class="btn btn text-white" style="background-color: #007BFF; color: white; ">Login</button>
        </div>
        </form>
      </div>
      
      



    
</div>


<div class="col-lg-4 col-md-2 col-1">



    
</div>

    </div>






    </div>